<article>
  <header>
    <h1>{{market}}</h1>
    <p><time>{{lastUpdated}}</time> &mdash; {{currency}}</p>
  </header>

  <table>
    <thead>
      <tr><th>Ticker</th><th>Commodity</th><th class="r">Price</th><th class="r">Change</th></tr>
    </thead>
    <tbody>
      {{#each prices}}
      <tr>
        <td><strong>{{this.symbol}}</strong></td>
        <td>{{this.name}}</td>
        <td class="r">${{formatPrice this.price}}</td>
        <td class="r {{#if (isPositive this.change)}}up{{else}}dn{{/if}}"><span class="change-arrow">{{#if (isPositive this.change)}}&#9650;{{else}}&#9660;{{/if}}</span>{{#if (isPositive this.change)}}+{{/if}}{{formatPrice this.change}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <footer>
    <a href="/logout">Log out</a>
  </footer>
</article>
